<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Campaign Manager</title>

  <!--- Styles -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
 <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" 
    rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

 <section class="hero is-info is-fullheight">
        <div class="bg-img">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <figure class="image is-128x128">
                            <img src="/images/CM1-logo.png">
                          </figure>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-light is-info is-selected" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-light is-info is-selected" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Campaign</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-light is-info is-selected" href="#">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Log-in</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-light is-info is-selected" href="#">
                                    <span class="icon">
                                        <i class="fa fa-shield"></i>
                                    </span>
                                    <span>Sign-up</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Campaign Manager
                        </h1>
                        <h2 class="subtitle">
                            Manage your campaigns
                        </h2>
                        <div class="buttons are-large" href="#">
                            <button class="button is-large is-fullwidth button is-link is-inverted ">Start Campaign Manager</button>
                          </div>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
     
    </header>

    <main class="hero is-fullheight">
      {{{ body }}}
    </main>
</body>

</html>
