<div class="label is-link  has-text-link-dark ">Create Character</label>
  <div class="field is level-left">
    <div class="control has-icons-left has-icons-right">
      <input class="input is-medium is-dark is-link has-text-link-dark" type="text" placeholder="Enter Name">
    </div>
  </div>

  <p>Choose Class and Races </p>
  <div class="control">
    <div class="select is-dark has-dark">
      <select>
        {{#each classlist as |class|}}
        <option>{{class.name}}</option>
        {{/each}}
      </select>
      <div class="control">
        <div class="select">
          <select>
            {{#each racelist as |race|}}
            <option>{{race.name}}</option>
            {{/each}}
          </select>
          <br>
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>