

<div class="label is-link  has-text-link-dark ">Create Character</label>
 <div class="field is level-left">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-medium is-dark is-link has-text-link-dark" type="text" placeholder ="Enter Name">
    </div>
  </div>

<p>Choose Class and Species </p> 
  <div class="control">
  <div class="select is-dark has-dark">
    <select>
      <span></span>
      <option>Warrior</option>
      <option>Mage</option>
      <option>Rogue</option>
    </select>
  <div class="control">
  <div class="select">
    <select>
        <span></span>
        <br>
         <option>Human</option>
         <option>Elf</option>
        <option>halfling</option>
    </select>
    <br>
    <div class="control">
      <button class="button is-medium is-link">Submit</button>
    </div>
  </div>
</div>
</div>
</div>
</div>
<script src="https://kit.fontawesome.com/ee9147c105.js" crossorigin="anonymous"></script>
