    <section class="hero is-info is-fullheight">
        <div class="bg-img">
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="title">
                Campaign Manager
            </h1>
            <h2 class="subtitle">
                Manage your campaigns
            </h2>
            <div class="buttons are-large" href="#">
                <button class="button is-large is-fullwidth button is-link is-inverted ">Start Campaign
                    Manager</button>
            </div>
            </a>
            </p>
        </div>
    </div>
</div>

<!--
<section class="hero is-info is-fullheight">
    <div class="bg-img">
>>>>>>> d67abff95ac767fcf00ef989b5e067b1261e170a
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <figure class="image is-128x128">
                            <img src="/images/CM1-logo.png">
                        </figure>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Campaign</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Log-in</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-shield"></i>
                                    </span>
                                    <span></span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        Campaign Manager
                    </h1>
                    <h2 class="subtitle">
                        Manage your campaigns
                    </h2>
                    <div class="buttons are-large" href="#">
                        <button class="button is-large is-fullwidth button is-link is-inverted ">Start Campaign
                            Manager</button>
                    </div>
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
-->