<form class="login-form">
  <div class="container has-text-centered">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <p class="has-text-weight-bold has-text-info-dark ">Login to your Account</p>
        <br />
        <form>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input is-medium has-text-link-dark " type="text" placeholder="Username"
                id="username-login" />
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input is-medium has-text-link-dark" type="password" placeholder="Password"
                id="password-login" />
              <span class="icon is-medium is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <button type="submit" class="button is-block is-info is-large is-fullwidth" style="
                        background: linear-gradient(
                          to right,
                          #504fa4,
                          #d26517,
                          #2d45b1,
                          #d97b0f
                        );">
            Log In
          </button>
          <br />
          <p class="has-text-grey">
            <a href="/login">
              Don't have an account? <a href="/signup"> Sign up here.</a>
            </a>
          </p>
      </div>
    </div>
  </div>
</form>

<script src="./js/login.js"></script>