
<form>
                  <p class="mb- `text-{"> Login to your account</p>
                  <div class="mb-4" >
                    <input
                      type="text"
                      class="text-sky-400"
                      placeholder="Username"
                    />
                  </div>
                  <div class="mb-4">
                    <input
                      type="password"
                      class="text-emerald-900 text-2xl mb-2 mr-2 "
                      placeholder="Password"
                    />
                  </div>
                  <div class="text-center pt-1 mb-12 pb-1">
                    <button
                      class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                      type="button"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                      style="
                        background: linear-gradient(
                          to right,
                          #504fa4,
                          #d26517,
                          #2d45b1,
                          #d97b0f
                        );
                      "
                    >
                      Log in 
                    </button>
                     <p class="flex justify-center"> Don't have an account? <a href="/signup"
        class="ml-2 text-indigo-500 hover:underline"> Sign up here.</a></p>
  </form>
</div>


<script src="./js/login.js"></script>
