
<div class="ring-4 ring-emerald-600 rounded mb-8">
 <form class="hero is-fullheight is is-left">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <div class="box">
              <p class="has-text-weight-bold has-text-info-dark ">Sign Up</p>
              <br />
              <form>
                  <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input is-medium has-text-link-dark " type="text" placeholder="Name" />
                    <span class="icon is-medium is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-medium is-right">
                      <i class="fas fa-check"></i>
                    </span>
                    </p>
                    </div>
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input is-medium has-text-link-dark" type="email" placeholder="Email" />
                    <span class="icon is-medium is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-medium is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-medium has-text-link-dark" type="password" placeholder="Password" />
                    <span class="icon is-medium is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Will you be a DM?
                  </label>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Sign Up</button><br />
                    </span>
                  </a>
                </div>
              </form>
            </div>
            <p class="has-text-grey">
              <a href="#">Return to Login</a></a>
            </p>

<script src="./js/signup.js"></script>

